services:
  db:
    image: mysql:8.4
    container_name: ecommerce-db
    restart: unless-stopped
    environment:
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: ecommerce_db
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - ecommerce-network
    ports:
      - "3307:3306"

networks:
  ecommerce-network:
    driver: bridge

volumes:
  mysql-data:
